#app {
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: auto;
}

.grid td {
  width: 60px;
  height: 10px;
  padding: 30px 20px;
  border: 2px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: 0.7;
  cursor: pointer;
}

.chosen {
  background: lightblue;
}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  /* content: "RESERVED"; */
}

.available::after {
  /* content: "AVAILABLE"; */
}

.available {
  color: #333;
}

li {
  list-style: none;
}
