@import "../../styles/variables";

.hero_image {
  background-image: url("../../assets/Ready.png");

  // background-image: url("../../assets/Ready.png");

  background-size: cover;

  background-repeat: no-repeat;

  min-height: calc(100vh - #{$navbar_padding});
  max-height: calc(100vh - #{$navbar_padding});

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 50%; /* Start from the right half */
  //   background: linear-gradient(to left, rgba(139, 69, 19, 0.7), transparent);
  // }

  & h1 {
    font-size: 120px;
    margin: 0;
    color: white;
    text-align: center;
    margin-top: -100px;
  }
}

.scroll_icon {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s;
  cursor: pointer;
}
